body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "outfit", sans-serif;
}
.attribution {
  font-size: 11px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.main {
  display: grid;
  align-content: center;
  text-align: center;
  margin-top: 30px;
  border-radius: 20px;
  background: white;
  width: 300px;
  padding: 5px

}
.main h1 {
  font-weight: 600;
  font-size: 25px;
}
.main p{
    font-size: 14px;
    margin: 27px;
    font-weight: 300;
    color: hsl(220, 15%, 55%);
}

.qr img{
    width: 280px;
    height: 280px;
    padding-top: 10px;
    border-radius: 20px;
}
